.backgroundIdoso{
	background-image: url("img/eldery.jpeg");
	background-repeat: no-repeat;
 	background-size: cover;
}
.tituloDaPagina{
    font-size: 70px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}
.subtituloDaPagina{
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
	text-align: center;
	margin-bottom: 7%;
}
.orientacaoPosicionamentoTitulo{
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.divBotoesHistoriasHome{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	display: table;
	border-radius: 15px;
	padding: 1%;
	background-color: rgba(255, 242, 223, 0.4);
;}
.customSizeButton{
	height: 150px;
}
.imgLeftButtonHome{
	width: 30%;
	float: left;
	margin-top: 55px;
}
.textRightButtonHome{
	width: 70%;
	float: right;
}
.espacoButtonContarHistoria{
	height: 250px;
	float: left;
	width: 46%;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	background-color: #d64161;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
.espacoButtonLerHistoria{
	height: 250px;
	float: left;
	width: 46%;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	background-color: #034f84;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
.espacoButtonContarHistoria:hover{
	cursor: pointer;
	background-color: #dd617c;
}
.espacoButtonLerHistoria:hover{
	cursor: pointer;
	background-color: #0466aa;
}
.propriedadeTextoButton{
	font-size: 25px;
	color: white;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	height: 60px;
	margin-top: 50px;
}
.colorWhite{
	color: white;
}
.bgtitlesub{
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
}
