.backgroundIdoso{
	background-image: url("img/eldery.jpeg");
	background-repeat: no-repeat;
 	background-size: cover;
}
.tituloDaPagina{
    font-size: 70px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}
.subtituloDaPagina{
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
	text-align: center;
	margin-bottom: 7%;
}
.orientacaoPosicionamentoTitulo{
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.divBotoesHistoriasHome{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	display: table;
	border-radius: 15px;
	padding: 1%;
	background-color: rgba(255, 242, 223, 0.4);
}
.customSizeButton{
	height: 150px;
}
.imgLeftButtonHome{
	width: 30%;
	float: left;
	margin-top: 55px;
}
.textRightButtonHome{
	width: 70%;
	float: right;
}
.espacoButtonContarHistoria{
	height: 250px;
	float: left;
	width: 46%;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	background-color: #d64161;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
.espacoButtonLerHistoria{
	height: 250px;
	float: left;
	width: 46%;
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	background-color: #034f84;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.75);
}
.espacoButtonContarHistoria:hover{
	cursor: pointer;
	background-color: #dd617c;
}
.espacoButtonLerHistoria:hover{
	cursor: pointer;
	background-color: #0466aa;
}
.propriedadeTextoButton{
	font-size: 25px;
	color: white;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	height: 60px;
	margin-top: 50px;
}
.colorWhite{
	color: white;
}
.bgtitlesub{
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
}

.divContarSuaHistoria{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	text-align: center;
	display: table;
	border-radius: 15px;
	padding: 1%;
	background-color: rgba(255, 242, 223, 0.4);
}
.subtituloDaPaginaHistorias{
	font-size: 20px;
	color: white;
	letter-spacing: 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;

}
.propriedadesContarHistoria{
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.76);
	box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.76);
	padding: 2%;
}

.propriedadesComentario{
	padding: 2%;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.3);
}
textarea:focus, input:focus, select:focus {
	outline: 0;
}
.passoPassoContarHistoria{
	float: left;
	padding: 1%;
	background-color: rgba(230, 226, 211, 0.4);
	border-radius: 10px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
}
.propriedadesBasicasTexto{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.textoTituloTamanho{
	font-size: 30px;
}
.textoSubtitulosTamanho{
	font-size: 18px;
}
.divButtonEnviarHistoria{
	margin-top: 1%;
	text-align: right;
	float: right;
}
.floatButtonRight{
	float: right;
}
.pc50{
	   width: 50%;
}
.hoverTextoBranco:hover{
	color: white !important;
}
.propriedadesBasicasTextoBtn{
	font-size: 20px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-left: 10px;
}
.footerProperty{
	margin-top: 5% !important;
	background-color: rgba(0, 0, 0, 0.5);
}

button,
input {
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

h4 {
	font-weight: 400;
}

a {
	color: #f96332;
}

a:hover,
a:focus {
	color: #f96332;
}

h4,
.h4 {
	font-size: 1.5em;
	line-height: 1.45em;
	margin-top: 30px;
	margin-bottom: 15px;
}

p {
	line-height: 1.61em;
	font-weight: 300;
	font-size: 1.2em;
}

body {
	color: #2c2c2c;
	font-size: 14px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.nav-item .nav-link,
.navbar {
	-webkit-transition: all 300ms ease 0s;
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-ms-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"] i {
	-webkit-transition: transform 150ms ease 0s;
	-moz-transition: transform 150ms ease 0s;
	-o-transition: transform 150ms ease 0s;
	-ms-transition: all 150ms ease 0s;
	transition: transform 150ms ease 0s;
}

[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

@font-face {
	font-family: 'Nucleo Outline';
	src: url("../fonts/nucleo-outline.eot");
	src: url("../fonts/nucleo-outline.eot") format("embedded-opentype"), url("../fonts/nucleo-outline.woff2") format("woff2"), url("../fonts/nucleo-outline.woff") format("woff"), url("../fonts/nucleo-outline.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.now-ui-icons {
	display: inline-block;
	font: normal normal normal 14px/1 'Nucleo Outline';
	font-size: inherit;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes nc-icon-spin {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	}
}

@keyframes nc-icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.now-ui-icons.objects_globe:before {
	content: "\ea2f";
}

.now-ui-icons.ui-1_settings-gear-63:before {
	content: "\ea4e";
}

.now-ui-icons.users_circle-08:before {
	content: "\ea23";
}

.navbar {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	min-height: 53px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar a {
	vertical-align: middle;
}

.navbar a:not(.btn):not(.dropdown-item) {
	color: #FFFFFF;
}

.navbar p {
	display: inline-block;
	margin: 0;
	line-height: 21px;
	font-weight: inherit;
	font-size: inherit;
}

.navbar .navbar-nav .nav-link:not(.btn) {
	text-transform: uppercase;
	font-size: 0.7142em;
	padding: 0.5rem 0.7rem;
	line-height: 1.625rem;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fab+p,
.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons+p {
	margin-left: 3px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fab,
.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
	font-size: 18px;
	position: relative;
	top: 3px;
	text-align: center;
	width: 21px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
	top: 4px;
	font-size: 16px;
}

.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0.1875rem;
}

.navbar .navbar-brand {
	text-transform: uppercase;
	font-size: 0.8571em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 1.625rem;
}

.navbar .navbar-toggler {
	width: 37px;
	height: 27px;
	outline: 0;
	cursor: pointer;
}

.navbar.navbar-transparent {
	background-color: transparent !important;
	box-shadow: none;
	color: #FFFFFF;
	padding-top: 20px !important;
}

.bg-primary {
	background-color: #f96332 !important;
}

.bg-info {
	background-color: #2CA8FF !important;
}

.bg-success {
	background-color: #18ce0f !important;
}

.bg-danger {
	background-color: #FF3636 !important;
}

.bg-warning {
	background-color: #FFB236 !important;
}

img {
	max-width: 100%;
	border-radius: 1px;
}

.login-page .link {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.section {
	padding: 70px 0;
	position: relative;
	background: #FFFFFF;
}

.section-navbars {
	padding-bottom: 0;
}

[data-background-color="orange"] {
	background-color: #e95e38;
}

[data-background-color="black"] {
	background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
	color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) p {
	color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) h4,
[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
	color: #FFFFFF;
}

@media screen and (max-width: 991px) {
	.sidebar-collapse .navbar-collapse {
		position: fixed;
		display: block;
		top: 0;
		height: 100% !important;
		width: 300px;
		right: 0;
		z-index: 1032;
		visibility: visible;
		background-color: #999;
		overflow-y: visible;
		border-top: none;
		text-align: left;
		max-height: none !important;
		-webkit-transform: translate3d(300px, 0, 0);
		-moz-transform: translate3d(300px, 0, 0);
		-o-transform: translate3d(300px, 0, 0);
		-ms-transform: translate3d(300px, 0, 0);
		transform: translate3d(300px, 0, 0);
		-webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
	}

	.sidebar-collapse .navbar-collapse:before {
		background: #f96332;
		background: -webkit-linear-gradient(#f96332 0%, #000 80%);
		background: -o-linear-gradient(#f96332 0%, #000 80%);
		background: -moz-linear-gradient(#f96332 0%, #000 80%);
		background: linear-gradient(#f96332 0%, #000 80%);
		opacity: 0.76;
		filter: alpha(opacity=76);
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link {
		margin: 0 1rem;
		margin-top: 0.3125rem;
	}

	.sidebar-collapse .navbar-collapse .navbar-nav:not(.navbar-logo) .nav-link:not(.btn) {
		color: #FFFFFF !important;
	}

	.sidebar-collapse .navbar .navbar-nav {
		margin-top: 53px;
		position: relative;
		max-height: calc(100vh - 75px);
		min-height: 100%;
		overflow: auto;
	}

	.sidebar-collapse .navbar .navbar-translate {
		width: 100%;
		position: relative;
		display: flex;
		-ms-flex-pack: justify !important;
		justify-content: space-between !important;
		-ms-flex-align: center;
		align-items: center;
		-webkit-transform: translate3d(0px, 0, 0);
		-moz-transform: translate3d(0px, 0, 0);
		-o-transform: translate3d(0px, 0, 0);
		-ms-transform: translate3d(0px, 0, 0);
		transform: translate3d(0px, 0, 0);
		-webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		-ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
		transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
	}

	.sidebar-collapse .navbar .navbar-toggler-bar {
		display: block;
		position: relative;
		width: 22px;
		height: 1px;
		border-radius: 1px;
		background: #FFFFFF;
	}

	.sidebar-collapse .navbar .navbar-toggler-bar+.navbar-toggler-bar {
		margin-top: 7px;
	}

	.sidebar-collapse .navbar .navbar-toggler-bar.bar2 {
		width: 17px;
		transition: width .2s linear;
	}

	.sidebar-collapse [class*="navbar-expand-"] .navbar-collapse {
		width: 300px;
	}

	.navbar-nav .nav-link i.fab,
	.navbar-nav .nav-link i.now-ui-icons {
		opacity: .5;
	}

	.navbar-nav .nav-link i.now-ui-icons {
		opacity: .5;
	}
}

@media screen and (min-width: 992px) {
	.navbar-collapse:not(.has-image) {
		background: transparent !important;
	}

	.navbar-nav .nav-item:not(:last-child) {
		margin-right: 5px;
	}
}

@media screen and (max-width: 576px) {
	.navbar[class*='navbar-expand-'] .container {
		margin-left: 0;
		margin-right: 0;
	}
}

.navigation-example {
	background-position: center center;
	background-size: cover;
	margin-top: 0;
	min-height: 740px;
	height: 100%;
}

.section-navbars {
	padding-top: 0;
}

#navbar .navbar {
	margin-bottom: 20px;
}

#navbar .navbar-toggler {
	pointer-events: none;
}


footer{
	margin-top:0px;
	color: #555;
	background: #fff;
	padding: 25px;
	font-weight: 300;

}
.footer p{
	margin-bottom: 0;
}
footer p a{
	color: #555;
	font-weight: 400;
}

@font-face {
	font-family: 'Nucleo Outline';
	src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
	src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
	src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
	font-weight: normal;
	font-style: normal;

}

.now-ui-icons {
	display: inline-block;
	font: normal normal normal 14px/1 'Nucleo Outline';
	font-size: inherit;
	speak: none;
	text-transform: none;
	/* Better Font Rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 991px) {
	.section-navbars .navbar-collapse {
		display: none !important;
	}
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
	padding: 60px 0;
}

section .section-title {
	text-align: center;
	color: #007b5e;
	margin-bottom: 50px;
	text-transform: uppercase;
}
#footer {
	background: #FF3636 !important
}
#footer h5{
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color:#ffffff;
}
#footer a {
	color: #ffffff;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
	margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
	font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}

.card-counter{
	box-shadow: 2px 2px 10px #DADADA;
	margin: 5px;
	padding: 90px 20px;
	background-color: #fff;
	height: 250px;
	width: 100%;
	border-radius: 5px;
	transition: .3s linear all;
}

.card-counter:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	transform: scale(1.05);
	transition: .3s linear all;
}

.card-counter.primary{
	background-color: #007bff;
	color: #FFF;
}

.card-counter.danger{
	background-color: #ef5350;
	color: #FFF;
}

.card-counter.success{
	background-color: #66bb6a;
	color: #FFF;
}

.card-counter.info{
	background-color: #26c6da;
	color: #FFF;
}

.card-counter i{
	font-size: 5em;
	opacity: 0.2;
}

.card-counter .count-numbers{
	position: absolute;
	right: 35px;
	top: 115px;
	font-size: 32px;
	display: block;
}

.card-counter .count-name{
	position: absolute;
	right: 35px;
	top: 160px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.7;
	display: block;
	font-size: 20px;
}

.card-counter .count-name2{
	position: absolute;
	right: 35px;
	top: 185px;
	font-style: italic;
	text-transform: capitalize;
	opacity: 0.7;
	display: block;
	font-size: 15px;
}

.title {
	position: relative;
	-webkit-perspective: 400;
	perspective: 400;
	padding-left: 17px;
	font-family: Arial;
	font-weight: bold;
	font-size: 52px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
	background: #FFFFFF;
	text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
	margin-bottom: 50px;
	margin-top: 40px;
}
.little{
	font-size: 17px !important;
	text-shadow: none;
}
.title:before {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 6px;
	background: #ff1212;
	top: 0;
	left: 25%;
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-animation: title-border-slide-in 0.35s ease-out forwards;
	animation: title-border-slide-in 0.35s ease-out forwards;
}
.title .title-word {
	opacity: 0;
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
	-webkit-animation: roll-in 0.15s 0s ease-out forwards;
	animation: roll-in 0.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
	-webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
	animation: roll-in 0.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
	-webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
	animation: roll-in 0.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
	-webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
	animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
	0% {
		-webkit-transform: translateX(-150px);
		transform: translateX(-150px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes title-border-slide-in {
	0% {
		-webkit-transform: translateX(-150px);
		transform: translateX(-150px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@-webkit-keyframes roll-in {
	0% {
		-webkit-transform: rotateX(-90deg);
		transform: rotateX(-90deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
	}
}
@keyframes roll-in {
	0% {
		-webkit-transform: rotateX(-90deg);
		transform: rotateX(-90deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		opacity: 1;
	}
}
.margintop5{
	margin-top: 5%;

}
.marginbottom5{
	margin-bottom: 5%;
}
.semititle{
	font-size: 18px;
	opacity: 0.5;
	font-style: italic;
}
.btn-block-custom {
	display: block;
	width: 98%;
}
.divHistoria{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	display: table;
	border-radius: 15px;
	padding: 1%;
	background-color: rgba(255, 242, 223, 0.8);
	margin-top: 5%;
}
.divTituloHistoria{
	margin-top: 1%;
	margin-bottom: 3%;
}
.autorTexto{
	font-size: 25px;
}

label{
	text-align: justify !important;
	font-size: 18px;

}
.marginCardCustom{
	margin: 1%;
	margin-bottom: 2%;
}
.comentarioHistoria{
	font-size: 12px;
	color: dodgerblue;
	font-weight: bold;
}